.navbar {
    border-radius: 25px;
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    z-index: 11111;
}
.navbar-nav {
    border-radius: 25px;
    background-color: #f1f1f1;
}
.navbar-nav .nav-item {
    padding: 10px 0;
}
.navbar-nav .nav-item .nav-link {
    border-right: 2px solid #6842ef;
    padding: 0 20px;
    color: #053F5C;
}
.navbar-nav .nav-item:last-child .nav-link {
    border: none;
}
.navbar-nav .nav-item .nav-link.active {
    color: #6842ef;
}
.navbar-text span {
    text-decoration:underline;
    color: #000;
}
.navbar-brand img {
    width: 30px;
    margin-right: 7px;
}